{% extends 'base.html' %}

{% block content %}

<div class ="container">
    
    <div class="row">
        
        <div class="col-sm">
          </div>

          <div class="col-sm">
              
        <title>Password Reset Page</title>
        <h1>Reset Password</h1>
        
        <form method="POST" class="accountform">
            <p>Please enter your email address: </p>
    
            {% csrf_token %}
            {{ form.email.errors }}
            
            <p>
                <label for="id_email">Email Address: </label>
                {{ form.email }}
                <button>Reset Password</button>
            </p>
            
        </form>
        
        </div>
        
          <div class="col-sm">
          </div>
        
    </div>
    
</div>

{% endblock %}