{% extends 'base.html' %}
    
{% load bootstrap_tags %}
    
{% block content %}
<div class="container">

<div class="row">
  
    <div class="col">
    </div>
    
    <div class="col-9">
      
        <a class="nav-link" href={% url 'edit_bug' bug.id %}><h2>Bug: {{ bug.title }}</h2>
        {% if user.is_authenticated %}
            <p>{{ bug.description }}</p></a>
        {% endif %}
        <br>
        <br>
        <h2>Comments: </h2>
            <ul>
                <hr>
                {% for comment in comments %}
                    <h4 style="color: #91ffc4">{{ comment.user }}</h4>
                    <p>{{ comment.message }}</p>
                    <hr>
                    <br>
                {% endfor %}
            </ul>
            
            <br>
            <hr>
        
          <h3>Leave A Comment: </h3>
          <br>
          <form method="POST" action={% url 'bug_detail' bug.id %}>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <input id="bug_id" name="bug_id" type="hidden" value="{{ bug.id }}">
            <button type="submit" class="btn btn-primary">POST</button>
          </form>
          
    </div>
    
    <div class="col">
    </div>
    
  </div>

</div>
{% endblock %}