{% extends 'base.html' %}
    
{% load bootstrap_tags %}
    
{% block content %}
<div class="container">

<div class="row">
  
    <div class="col">
    </div>
    
    <div class="col-9">
      
        <a class="nav-link" href={% url 'edit_feature' bugs.id %}><h2>Bug: {{ bugs.title }}</h2>
        {% if user.is_authenticated %}
            <p>{{ bugs.description }}</p></a>
        {% endif %}
        <h2>Comments: </h2>
        <hr>
            <p>{{ bugs.comments }}</p>
        <hr>

          <form method="POST" enctypr="multipart/form-data">
            {% csrf_token %}
            {{ comment_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">POST</button>
          </form>
          
    </div>
    
    <div class="col">
    </div>
    
  </div>

</div>
{% endblock %}