{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container">
    
    <h1>Bugs: </h1>

    <div class="row">
      {%for bug in bugs %}
        <div class="col-sm-10">
          <div class="card" style="width: 70rem;">
            <a href={% url 'bug_detail' bug.id %}>
              <div class="card-body">
                <img src="https://img.icons8.com/windows/32/000000/bug.png">
                <h2 class="card-title">{{ bug.title }}</h2>
                <p>Views: {{ bug.views }}</p>
                <p>Created by: {{ bug.reported_by }}</p>
                <p>Creation date: {{ bug.created_date }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    
</div>

{% endblock %}