{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container">
    
    <h1>Bugs: </h1>

    <div class="row">
      {%for bug in bugs %}
        <div class="col-sm-10">
          <div class="card" style="width: 70rem;">
            <a href={% url 'bug_detail' bug.id %}>
              <div class="card-body">
                <h5 class="card-title">{{ bug.title }}</h5>
                <p>Views: {{ bug.views }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    
</div>

{% endblock %}