{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

{% for feature in features %}
<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="https://img.icons8.com/color/480/000000/administrative-tools.png" class="w-100">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
          
              <br>
              <a href={% url 'features_detail' feature.id %}><button type="button" class="btn btn-outline-warning">{{ feature.title }}</button></a>
              <br>
              <br>
              <p class="card-text">Status: {{ feature.status }}</p>
              <p class="card-text">Views: {{ feature.views }}</p>
              <p class="card-text">Creation date: {{ feature.created_date }}</p>
              <a href={% url 'feature_upvote' feature.id %}><button type="button" class="btn btn-outline-success">Likes: {{ feature.likes }}</button></a>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}