{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="container">
    <div class="jumbotron">
    
        <div class="row">
            {% for item in cart_items %}
            <h1>Items: {{ feature_count }}</h1>
            {% endfor %}
        </div>
        <div class="row">
            <h1>Total Cost: ${{ total }}</h1>
        </div>
        <a class="nav-link" href={% url 'checkout' %}><button class="btn btn-success" type="submit">Go To Checkout</button></a>
    
    </div>
</div>
{% endblock %}