{% extends 'base.html' %}

{% block content %}

    <div class ="container">
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                    <img src="https://img.icons8.com/color/48/000000/handshake.png">
                    <h1 class="display-4">Welcome to the Unicorn Attractor,</h1><h1 class="display-4" style="color:#6794e0;">{{ user }}!</h1>
                </div>          
            
            </div>
        </div>
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                    <img src="https://img.icons8.com/color/48/000000/edit.png">
                    <p>To add a feature request is free. </p>
                    <p>To vote for a feature request will cost a small amount of money. </p>
                </div>       
            
            </div>
        </div>
 
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                <a href={% url 'tickets' %}><span><img src="https://img.icons8.com/color/48/000000/puzzle.png"></span></a>
                <p>Click on the icon to add tickets and feature requests. </p>
                </div>
                
            </div>
        </div>
        
    </div>

{% endblock %}