{% extends 'base.html' %}

{% block content %}

    <div class ="container">
        
        <div class="jumbotron">
            <div class="row">
                <h1 class="display-4">Welcome to the Unicorn Attractor,</h1>
            </div>
            
            <div class="row">
                <h1 class="display-4" style="color:#6794e0;">{{ user }}!</h1>
                <p>To add a feature request is free. </p>
                <p>To vote for a feature request will cost a small amount of money. </p>
            </div>
        </div>
        
        <div class="jumbotron">
            <div class="row">
                <span>Click on the Unicorn  <a href={% url 'tickets' %}> icon </a>  to add tickets and feature requests. </span>
            </div>
        </div>
        
    </div>

{% endblock %}