{% extends 'base.html' %}

{% block content %}

    <div class ="container">
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                    <img src="https://img.icons8.com/color/48/000000/handshake.png">
                    <h1 class="display-4">Welcome to the Unicorn Attractor,</h1><h1 class="display-4" style="color:#6794e0;">{{ user }}!</h1>
                </div>          
            
            </div>
        </div>
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                    <img src="https://img.icons8.com/color/48/000000/edit.png">
                    <br>
                    <p>This is an open-source project, built using open source technologies!</p> 
                    <p>Register with us, and join a steadily growing online community of developers who are commited to collaboration and innovation.</p>
                    <p>You can utilise the Unicorn Attractors issue tracker to register bugs and request additional features to be added to the site.</p>
                    <p>To register a bug will cost nothing, but in order for a new feature to be added to the site, we will charge a small (but fair) fee.</p>
                    <p>If enough funding can be raised for the additional feature to be worthwhile to work on, we promise to spend a minimum of 50% of our weekly development time working on developing the highest paid feature.</p>
                    <p>To add a feature request is free! To vote for a feature request will cost a small amount of money.</p>
                </div>       
            
            </div>
        </div>
 
        
        <div class="jumbotron">
            <div class="row">
                
                <div class="col-sm">
                <a href={% url 'tickets' %}><span><img src="https://img.icons8.com/color/48/000000/puzzle.png"></span></a>
                <p>Click on the icon to add tickets and feature requests.</p>
                <p>Use the stats page to check on usage statistics for this site, such as Features, Bugs and Users.</p>
                </div>
                
            </div>
        </div>
        
    </div>

{% endblock %}