{% extends 'base.html' %}
    
{% block content %}



<div class ="container">

      <div class="jumbotron">
        <h1 class="display-4">Login</h1>
      </div>

      <div class="row">

          <div class="col-sm">
          </div>

          <div class="col-sm">
            
            <form method="POST">
              <div class="form-group">
                {% csrf_token %}
                {{ login_form }}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form> 
            
          </div>
        
          <div class="col-sm">
          </div>

      </div>

</div>

{% endblock %}