{% extends 'base.html' %}
    
{% block content %}
    
    
<div class="container">
  <br>
  <br>
  
  <div class="row">
    
    
  <div class="col l2">
  </div>
  
  <div class="col l8 center-align">
    
    <div class="row center-align">
      <div class="input-field col l6">
        <input value="" id="first_name2" type="text" class="validate">
        <label class="active" for="first_name2">Username:</label>
      </div>
    </div>
    
    <div class="row center-align">
      <div class="input-field col l6">
          <input value="" id="first_name2" type="password" class="validate">
          <label class="active" for="first_name2">Password:</label>
        </div>
    </div>
  
  </div>
  
  <div class="col l2">
  </div>
  
  
  </div>
  
</div>

{% endblock %}