<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unicorn Attractor</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    
    <!-- Custom JS -->
    <script src="/static/js/materialize.js"></script>
    
    <!-- Materialize Glyphicon Logo -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> Unicorn Attractor! </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="sass.html">Register</a></li>
        <li><a href="badges.html">Tickets</a></li>
        <li><a href="collapsible.html">Cart</a></li>
      </ul>
    </div>
  </nav>

   {% block content %} 
   
   {% endblock %}

  </body>

</html>